<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prizesbear0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,320},{146,316}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{146,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,700},{156,332}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{156,332}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear10.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{232,348}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{232,348}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear11.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{232,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{232,346}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear12.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,352},{252,346}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{252,346}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,710},{266,346}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{266,346}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear14.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1058},{276,344}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{276,344}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1086},{276,346}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{276,346}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{274,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{274,354}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{274,360}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{274,360}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,372}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{272,372}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{268,368}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{268,368}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1434},{190,346}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,21},{190,346}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear20.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,360},{260,348}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{260,348}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear21.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1404},{260,326}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,61},{260,326}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{272,320}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,65},{272,320}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,674},{278,316}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{278,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{276,316}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{276,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1678},{276,310}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{276,310}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,122},{278,312}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{278,312}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1024},{280,316}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{280,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,324},{276,316}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{276,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,436},{262,316}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{262,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1818},{202,350}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{202,350}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear30.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1358},{266,318}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,69},{266,318}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear31.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1034},{270,322}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,68},{270,322}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear32.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,700},{266,322}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,68},{266,322}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear33.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1678},{252,316}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{252,316}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear34.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1732},{248,314}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{248,314}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,350},{252,322}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{252,322}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{204,306}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,61},{204,306}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{118,288}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,59},{118,288}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{212,354}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{212,354}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{220,356}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{220,356}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{226,356}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{226,356}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,376},{232,356}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{232,356}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1464},{234,352}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{234,352}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>prizesbear9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,734},{234,350}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{234,350}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prizebear.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a18ec26edfb141b1dbb57dc9f902026:1/1$</string>
            <key>textureFileName</key>
            <string>prizebear.pvr.ccz</string>
        </dict>
    </dict>
</plist>
