<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prizesquirrel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,190},{110,292}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,13},{110,292}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1866},{150,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{150,294}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1318},{228,316}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{228,316}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,620},{228,300}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{228,300}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel12.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,944},{248,302}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{248,302}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1266},{260,302}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{260,302}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,322},{272,316}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{272,316}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,664},{276,322}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{276,322}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,314},{274,304}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{274,304}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel17.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1634},{274,302}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{274,302}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel18.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,634},{272,308}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{272,308}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{266,328}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{266,328}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{186,294}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{186,294}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{256,326}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{256,326}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel21.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{256,318}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{256,318}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel22.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1318},{256,314}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{256,314}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{266,316}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{266,316}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,992},{270,324}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{270,324}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{270,324}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{270,324}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{274,310}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{274,310}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel27.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,640},{276,312}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{276,312}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel28.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,320},{272,312}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{272,312}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,330}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{258,330}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{198,288}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{198,288}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel30.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{260,326}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{260,326}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel31.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{266,316}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{266,316}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel32.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,330},{260,318}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{260,318}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel33.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,988},{246,314}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{246,314}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{234,326}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{234,326}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel35.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1646},{248,316}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{248,316}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1248},{200,294}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{200,294}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel37.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1870},{154,272}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{154,272}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1570},{208,298}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{208,298}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,954},{216,310}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{216,310}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{222,304}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{222,304}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,922},{228,288}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{228,288}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,302},{230,290}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{230,290}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>prizesquirrel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1570},{230,294}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{230,294}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prizesquirrel.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:798b7c243005398ad6ad14e6e10c3450:1/1$</string>
            <key>textureFileName</key>
            <string>prizesquirrel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
