<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prizeowl0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1436},{242,232}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{242,232}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{246,246}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{246,246}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,894},{284,284}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{284,284}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{276,284}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{276,284}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1158},{264,276}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{264,276}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl13.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1464},{264,276}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{264,276}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,288},{278,276}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{278,276}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl15.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,290},{284,278}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{284,278}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl16.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,588},{284,282}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{284,282}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl17.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1490},{266,284}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{266,284}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl18.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1512},{274,292}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{274,292}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl19.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{270,296}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{270,296}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,282},{230,256}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{230,256}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl20.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,610},{256,298}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{256,298}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,576},{234,282}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{234,282}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{236,278}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{236,278}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl23.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1202},{242,286}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{242,286}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl24.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1216},{254,294}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{254,294}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{268,296}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{268,296}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{284,294}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{284,294}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,302}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{284,302}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{276,302}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{276,302}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{264,302}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{264,302}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,568},{248,266}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{248,266}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,306},{274,296}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{274,296}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{278,300}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{278,300}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl32.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{284,286}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{284,286}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl33.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1180},{280,282}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{280,282}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl34.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1776},{266,278}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{266,278}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl35.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,874},{274,282}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{274,282}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,860},{242,272}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{242,272}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{256,278}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{256,278}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1134},{196,236}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{196,236}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl39.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,910},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1776},{250,268}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{250,268}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1806},{236,278}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{236,278}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{236,288}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{236,288}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,604},{234,288}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{234,288}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,910},{268,290}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{268,290}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>prizeowl9.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,300},{284,286}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{284,286}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prizeowl.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1748fe354abeb7cce45d41e005b64e1:1/1$</string>
            <key>textureFileName</key>
            <string>prizeowl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
